{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
    <body>
    <div class="px-40 flex flex-1 justify-center py-5">
        <div class="layout-content-container flex flex-col w-[512px] max-w-[512px] py-5 max-w-[960px] flex-1">
            <div class="flex flex-wrap justify-between gap-3 p-4"><p class="text-white tracking-light text-[32px] font-bold leading-tight min-w-72">Add New Rule</p></div>
           
            <form method="post">
              {% csrf_token %}
              {% comment %} {% for data in form  %} {% endcomment %}
              
  <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
    <label class="flex flex-col min-w-40 flex-1">
      <p class="text-white text-base font-medium leading-normal pb-2">Rule Name</p>

      {{ form.name|add_class:"form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-white focus:outline-0 focus:ring-0 border-none bg-[#243647] focus:border-none h-14 placeholder:text-[#93adc8] p-4 text-base font-normal leading-normal" }}
      {% if form.name.errors %}
      <p class="text-red-500 text-sm">{{ form.name.errors }}</p>
      {% endif %}
    </label>
  </div>

    <!-- Protocol Dropdown -->
  <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
    <label class="flex flex-col min-w-40 flex-1">
      <p class="text-white text-base font-medium leading-normal pb-2">Protocol</p>

      {{ form.protocol|add_class:"form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-white focus:outline-0 focus:ring-0 border-none bg-[#243647] focus:border-none h-14 placeholder:text-[#93adc8] p-4 text-base font-normal leading-normal" }}
      {% if form.protocol.errors %}
      <p class="text-red-500 text-sm">{{ form.protocol.errors }}</p>
      {% endif %}
    </label>
  </div>

    <!-- Action Dropdown -->
  <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
    <label class="flex flex-col min-w-40 flex-1">
      <p class="text-white text-base font-medium leading-normal pb-2">Action</p>

      {{ form.action|add_class:"form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-white focus:outline-0 focus:ring-0 border-none bg-[#243647] focus:border-none h-14 placeholder:text-[#93adc8] p-4 text-base font-normal leading-normal" }}
      {% if form.action.errors %}
      <p class="text-red-500 text-sm">{{ form.action.errors }}</p>
      {% endif %}
    </label>
  </div>

            {% comment %} <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
              <label class="flex flex-col min-w-40 flex-1">
                <p class="text-white text-base font-medium leading-normal pb-2">Action</p>
                <select
                  class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-white focus:outline-0 focus:ring-0 border-none bg-[#243647] focus:border-none h-14 bg-[image:--select-button-svg] placeholder:text-[#93adc8] p-4 text-base font-normal leading-normal"
                >
                  <option value="one"></option>
                  <option value="two">two</option>
                  <option value="three">three</option>
                </select>
              </label>
            </div>
             {% endcomment %}
            {% comment %} <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
              <label class="flex flex-col min-w-40 flex-1">
                <p class="text-white text-base font-medium leading-normal pb-2">Protocol</p>
                <select
                  class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-white focus:outline-0 focus:ring-0 border-none bg-[#243647] focus:border-none h-14 bg-[image:--select-button-svg] placeholder:text-[#93adc8] p-4 text-base font-normal leading-normal"
                >
                  <option value="one"></option>
                  <option value="two">two</option>
                  <option value="three">three</option>
                </select>
              </label>
            </div> {% endcomment %}

              <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
    <label class="flex flex-col min-w-40 flex-1">
      <p class="text-white text-base font-medium leading-normal pb-2">Source IP</p>

      {{ form.source_ip|add_class:"form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-white focus:outline-0 focus:ring-0 border-none bg-[#243647] focus:border-none h-14 placeholder:text-[#93adc8] p-4 text-base font-normal leading-normal"|attr:"placeholder:Enter source IP" }}
      {% if form.source_ip.errors %}
      <p class="text-red-500 text-sm">{{ form.source_ip.errors }}</p>
      {% endif %}
    </label>
  </div>
            {% comment %} <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
              <label class="flex flex-col min-w-40 flex-1">
                <p class="text-white text-base font-medium leading-normal pb-2">Source IP</p>
                <input
                  placeholder="Enter source IP"
                  class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-white focus:outline-0 focus:ring-0 border-none bg-[#243647] focus:border-none h-14 placeholder:text-[#93adc8] p-4 text-base font-normal leading-normal"
                  value=""
                />
              </label>
            </div> {% endcomment %}

              <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
    <label class="flex flex-col min-w-40 flex-1">
      <p class="text-white text-base font-medium leading-normal pb-2">Destination IP</p>

      {{ form.dest_ip|add_class:"form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-white focus:outline-0 focus:ring-0 border-none bg-[#243647] focus:border-none h-14 placeholder:text-[#93adc8] p-4 text-base font-normal leading-normal"|attr:"placeholder:Enter destination IP" }}
      {% if form.dest_ip.errors %}
      <p class="text-red-500 text-sm">{{ form.dest_ip.errors }}</p>
      {% endif %}
    </label>
  </div>
            {% comment %} <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
              <label class="flex flex-col min-w-40 flex-1">
                <p class="text-white text-base font-medium leading-normal pb-2">Destination IP</p>
                <input
                placeholder="Enter destination IP"
                  class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-white focus:outline-0 focus:ring-0 border-none bg-[#243647] focus:border-none h-14 placeholder:text-[#93adc8] p-4 text-base font-normal leading-normal"
                  value=""
                />
              </label>
            </div>
             {% endcomment %}

                          <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
    <label class="flex flex-col min-w-40 flex-1">
      <p class="text-white text-base font-medium leading-normal pb-2">Source Port</p>

      {{ form.source_port|add_class:"form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-white focus:outline-0 focus:ring-0 border-none bg-[#243647] focus:border-none h-14 placeholder:text-[#93adc8] p-4 text-base font-normal leading-normal"|attr:"placeholder:Enter source port" }}
      {% if formsource_port.errors %}
      <p class="text-red-500 text-sm">{{ form.source_port.errors }}</p>
      {% endif %}
    </label>
  </div>
            {% comment %} <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
              <label class="flex flex-col min-w-40 flex-1">
                <p class="text-white text-base font-medium leading-normal pb-2">Source Port</p>
                <input
                  placeholder="Enter source port"
                  class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-white focus:outline-0 focus:ring-0 border-none bg-[#243647] focus:border-none h-14 placeholder:text-[#93adc8] p-4 text-base font-normal leading-normal"
                  value=""
                />
              </label>
            </div> {% endcomment %}

                         <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
    <label class="flex flex-col min-w-40 flex-1">
      <p class="text-white text-base font-medium leading-normal pb-2">Destination Port</p>

      {{ form.dest_port|add_class:"form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-white focus:outline-0 focus:ring-0 border-none bg-[#243647] focus:border-none h-14 placeholder:text-[#93adc8] p-4 text-base font-normal leading-normal"|attr:"placeholder:Enter destination port" }}
      {% if form.dest_port.errors %}
      <p class="text-red-500 text-sm">{{ form.dest_port.errors }}</p>
      {% endif %}
    </label>
  </div>
            {% comment %} <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
              <label class="flex flex-col min-w-40 flex-1">
                <p class="text-white text-base font-medium leading-normal pb-2">Destination Port</p>
                <input
                placeholder="Enter destination port"
                class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-white focus:outline-0 focus:ring-0 border-none bg-[#243647] focus:border-none h-14 placeholder:text-[#93adc8] p-4 text-base font-normal leading-normal"
                  value=""
                />
              </label>
            </div> {% endcomment %}

             <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
    <label class="flex flex-col min-w-40 flex-1">
      <p class="text-white text-base font-medium leading-normal pb-2">Direction</p>

      {{ form.direction|add_class:"form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-white focus:outline-0 focus:ring-0 border-none bg-[#243647] focus:border-none h-14 placeholder:text-[#93adc8] p-4 text-base font-normal leading-normal" }}
      {% if form.direction.errors %}
      <p class="text-red-500 text-sm">{{ form.direction.errors }}</p>
      {% endif %}
    </label>
  </div>



             <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
    <label class="flex flex-col min-w-40 flex-1">
      <p class="text-white text-base font-medium leading-normal pb-2">Description</p>

      {{ form.description|add_class:"form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-white focus:outline-0 focus:ring-0 border-none bg-[#243647] focus:border-none h-14 placeholder:text-[#93adc8] p-4 text-base font-normal leading-normal"|attr:"placeholder:Enter destination IP" }}
      {% if form.description.errors %}
      <p class="text-red-500 text-sm">{{ form.description.errors }}</p>
      {% endif %}
    </label>
  </div>

            {% comment %} <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
              <label class="flex flex-col min-w-40 flex-1">
                <p class="text-white text-base font-medium leading-normal pb-2">Description</p>
                <textarea
                  placeholder="Enter rule description"
                  class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-white focus:outline-0 focus:ring-0 border-none bg-[#243647] focus:border-none min-h-36 placeholder:text-[#93adc8] p-4 text-base font-normal leading-normal"
                ></textarea>
              </label>
            </div>
             {% endcomment %}
            <div class="flex px-4 py-3 justify-end">
              <button type="submit"
              class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 bg-[#197fe5] text-white text-sm font-bold leading-normal tracking-[0.015em]">
              <span class="truncate">Add Rule</span>
            </button>
          </div>
        </form>
          </div>
        </div>
      </div>
    </div>

    </body>
{% endblock content %} 

















































    