{% extends 'base.html' %}

{% block content %}
  {% comment %} <h2 class="text-xl font-bold">Stored Firewall Rules</h2> {% endcomment %}
  {% comment %} <h2 class="text-white text-lg font-bold leading-tight tracking-[-0.015em]">Firewall Rules</h2>

  <a href="{% url 'add_rule' %}" class="btn hover:underline">Add Rule</a>

  <a href="{% url 'apply_rules' %}" class="btn hover:underline">Apply to iptables</a>
  <ul>
    {% for rule in rules %}
      <li>
        {{ rule }} |
        <a href="{% url 'delete_rule' rule.id %}" class="text-red-600">Delete</a>
      </li>
    {% endfor %}
  </ul> {% endcomment %}




    <body>
        <div class="px-40 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="flex flex-wrap justify-between gap-3 p-4">
              <p class="text-white tracking-light text-[32px] font-bold leading-tight min-w-72">Firewall Rules</p>
              <button
                class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-8 px-4 bg-[#243647] text-white text-sm font-medium leading-normal">


              <a href="{% url 'add_rule' %}">
                  <span class="truncate hover:underline px-4">Add Rule  </span>
            </a>
                
            <a href="{% url 'apply_rules' %}" class="btn hover:underline">

                  <span class="truncate hover:underline">Apply to System</span>

            </a>

              </button>


            </div>
          
                {% if rules %}
        <div class="px-4 py-3">
              <label class="flex flex-col min-w-40 h-12 w-full">
                <div class="flex w-full flex-1 items-stretch rounded-lg h-full">
                  <div
                    class="text-[#93adc8] flex border-none bg-[#243647] items-center justify-center pl-4 rounded-l-lg border-r-0"
                    data-icon="MagnifyingGlass"
                    data-size="24px"
                    data-weight="regular"
                  >
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                      <path
                        d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"
                      ></path>
                    </svg>
                  </div>
                  <input
                    placeholder="Search rules..."
                    class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-white focus:outline-0 focus:ring-0 border-none bg-[#243647] focus:border-none h-full placeholder:text-[#93adc8] px-4 rounded-l-none border-l-0 pl-2 text-base font-normal leading-normal"
                    value=""
                  />
                </div>
              </label>
            </div>
            <div class="px-4 py-3 @container">
              <div class="flex overflow-hidden rounded-lg border border-[#344d65] bg-[#111a22]">


                     <table class="flex-1">
                  <thead>
                    <tr class="bg-[#1a2632]">
                      <th class="table-941c78e1-a39a-411d-a758-bf861df7f945-column-120 px-4 py-3 text-left text-white w-[400px] text-sm font-medium leading-normal">Rule ID</th>
                      <th class="table-941c78e1-a39a-411d-a758-bf861df7f945-column-240 px-4 py-3 text-left text-white w-[400px] text-sm font-medium leading-normal">Source IP</th>
                      <th class="table-941c78e1-a39a-411d-a758-bf861df7f945-column-360 px-4 py-3 text-left text-white w-[400px] text-sm font-medium leading-normal">Destination IP</th>
                      <th class="table-941c78e1-a39a-411d-a758-bf861df7f945-column-480 px-4 py-3 text-left text-white w-[400px] text-sm font-medium leading-normal">Port</th>
                      <th class="table-941c78e1-a39a-411d-a758-bf861df7f945-column-600 px-4 py-3 text-left text-white w-[400px] text-sm font-medium leading-normal">Protocol</th>
                      <th class="table-941c78e1-a39a-411d-a758-bf861df7f945-column-720 px-4 py-3 text-left text-white w-60 text-sm font-medium leading-normal">Action</th>
                      <th class="table-941c78e1-a39a-411d-a758-bf861df7f945-column-840 px-4 py-3 text-left text-white w-60 text-sm font-medium leading-normal">Direction</th>
                    </tr>
                  </thead>
                  {% for rule in rules %}
                  <tbody>
                    <tr class="border-t border-t-[#344d65]">
                      <td class="table-941c78e1-a39a-411d-a758-bf861df7f945-column-120 h-[72px] px-4 py-2 w-[400px] text-white text-sm font-normal leading-normal"> {{rule.id}} </td>
                      <td class="table-941c78e1-a39a-411d-a758-bf861df7f945-column-240 h-[72px] px-4 py-2 w-[400px] text-[#93adc8] text-sm font-normal leading-normal">
                        {{rule.source_ip}}
                     </td>
                      <td class="table-941c78e1-a39a-411d-a758-bf861df7f945-column-360 h-[72px] px-4 py-2 w-[400px] text-[#93adc8] text-sm font-normal leading-normal">
                        {{rule.dest_ip}}
                      </td>
                      <td class="table-941c78e1-a39a-411d-a758-bf861df7f945-column-480 h-[72px] px-4 py-2 w-[400px] text-[#93adc8] text-sm font-normal leading-normal">{{rule.port}}</td>
                      <td class="table-941c78e1-a39a-411d-a758-bf861df7f945-column-600 h-[72px] px-4 py-2 w-[400px] text-[#93adc8] text-sm font-normal leading-normal">{{rule.protocol}}</td>
                      <td class="table-941c78e1-a39a-411d-a758-bf861df7f945-column-720 h-[72px] px-4 py-2 w-60 text-sm font-normal leading-normal">
                        <button class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-8 px-4 bg-[#243647] text-white text-sm font-medium leading-normal w-full">
        <a href="{% url 'delete_rule' rule.id %}" class="text-red-600">
                        <span class="truncate">Delete</span>
        </a>
                        </button>
                      </td>
                      <td class="table-941c78e1-a39a-411d-a758-bf861df7f945-column-840 h-[72px] px-4 py-2 w-60 text-sm font-normal leading-normal">
                        <span class="truncate h-[72px] px-4 py-2 w-[400px] text-[#93adc8] text-sm font-normal leading-normal">{{rule.direction}}</span>
                      </td>
                    </tr>
                {% endfor %}
                  </tbody>
                </table>

                {% else %}
                <div class="px-4 py-3 @container">
              <div class="flex overflow-hidden rounded-lg border border-[#344d65] bg-[#111a22]">

                <p class="text-white text-sm font-normal leading-normal px-4 py-2">
                  No firewall rules found. Please add a rule to manage your firewall.
                </p>
                </div>
              </div>
                {% endif %}
                    
               
              </div>
              <style>
                @container(max-width:120px){.table-941c78e1-a39a-411d-a758-bf861df7f945-column-120{display: none;}}
                @container(max-width:240px){.table-941c78e1-a39a-411d-a758-bf861df7f945-column-240{display: none;}}
                @container(max-width:360px){.table-941c78e1-a39a-411d-a758-bf861df7f945-column-360{display: none;}}
                @container(max-width:480px){.table-941c78e1-a39a-411d-a758-bf861df7f945-column-480{display: none;}}
                @container(max-width:600px){.table-941c78e1-a39a-411d-a758-bf861df7f945-column-600{display: none;}}
                @container(max-width:720px){.table-941c78e1-a39a-411d-a758-bf861df7f945-column-720{display: none;}}
                @container(max-width:840px){.table-941c78e1-a39a-411d-a758-bf861df7f945-column-840{display: none;}}
              </style>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
{% endblock %}
